<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
    </head> 
    <body>
    <img class="clouds" src="{{url_for('static', filename='img1.svg')}}" align="middle" /> 

<div class="signup">
    
    <h2>Sign In</h2>
        <form class="form">
    <div class="textbox">
        <input type="text" required /> 
        <br>
        <label>e-mail</label> 
        
        <!-- <span
            class="material-symbols-outlined">
                account circle </span> -->
    </div>
    <div class="textbox">
        <input type="text" required /> 
        <br>
        <label>password</label> 
    </div>
   <!-- other textboxes -->
 <p>
don't have an account
<a href="/signup">sign up</a>
    </p> 
    <button type="submit">
        SIGN IN
       <!-- <span
            class="material-symbols-outlined">
                arrow_forward 
             </span>--> 
                </button>
            </form> 
        </div> 
    </body> 
</html>
